
<nav>
  <ul>
    <li>
      <a routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Content List
      </a>
    </li>
    <li>
      <a routerLink="list/6" routerLinkActive="active">Content ID 6</a>
    </li>
    <li>
      <a routerLink="pagewillnotbefound" routerLinkActive="active">
        Invalid page link
      </a>
    </li>
  </ul>
</nav>


<!-- ASSIGNMENT 6 -->
<app-messages></app-messages>
<!-- <app-content-card [content]="findById(3)" style="box-shadow: 3px 3px 3px 3px red; display: block; width: 300px;"></app-content-card> -->
<!-- END ASSIGNMENT 6 -->


<!-- Move content list out -->
<!-- <app-content-list></app-content-list> -->
<router-outlet></router-outlet>
