<div>
    <label>ID</label>
    <input type="number" [(ngModel)]="id">
    <label>Title</label>
    <input type="text" [(ngModel)]="title">
    <label>description</label>
    <input type="text" [(ngModel)]="description">
    <label>Type</label>
    <input type="text" [(ngModel)]="type">
    <label>Tags</label>
    <input type="text" [(ngModel)]="tags">
    <!-- Add input fields for title, description, creator, image URL, type, and tags -->
    <button (click)="createContent()">Create Content</button>
  </div>