<!-- <div class="card {{isFirst && 'first'}}">
  <img *ngIf="content?.imgURL; else defaultImage" src="{{content?.imgURL}}" alt="Avatar" (click)="handleClickImage(content)">
  <ng-template #defaultImage>
    <div class="default-image">
      <img src="{{defaultImageUrl}}" alt="DefaultImage" (click)="handleClickImage(content)">
    </div>
  </ng-template>



  <div class="container">
    <h4>ID: {{content?.id}} - <b>{{content?.title}}</b></h4> 
    <p>Description: {{content?.description}}</p> 
		<p>Creator: {{content?.creator}}</p>
		<p *ngIf="content?.type" appHoverAffect [affectName]="'underline'">Type: {{content?.type}}</p>
    <p *ngIf="content?.tags">Tag: <span class="tag" *ngFor="let tag of content?.tags" appHoverAffect [affectName]="'boldText'">{{tag}}</span></p>
  </div>

</div> -->

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{content?.title}}</mat-card-title>
    <mat-card-subtitle>ID: {{content?.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{content?.imgURL == null || content?.imgURL == '' ? defaultImageUrl : content?.imgURL}}"
    alt="Avatar" (click)="handleClickImage(content)" matTooltip="Photo of {{content?.title}}"
    matTooltipPosition="above">
  <mat-card-content>
    <!-- <p>{{content?.description}}</p> -->
    <!-- <mat-chip-listbox *ngIf="content?.tags">
      <mat-chip-option color="accent" *ngFor="let tag of content?.tags" disabled>{{tag}}</mat-chip-option>
    </mat-chip-listbox> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goToDetailPage(content?.id)">View
      detail</button>
  </mat-card-actions>
</mat-card>