<div>
  <label>Input field</label>
  <input type="text" [(ngModel)]="inputValue">
  <button (click)="search(inputValue)">Search</button>
  <h3 *ngIf="typePresent" style="color: green;"> Title is present in the list.</h3>
  <h3 *ngIf="!typePresent && typePresent!=undefined" style="color: red;"> Title is not present in the list.</h3>
</div>

<h2>Items with no type :</h2> 
<div class="card-container1">
  <!-- <h2>Items with no type :</h2> -->
  <app-content-card *ngFor="let item of contentArray | contentTypeFilter" class="card1" [item]="item"></app-content-card>
</div>

<h2>Items with type 'Outdoor':</h2>
<div class="card-container2">
  <app-content-card *ngFor="let item of contentArray | contentTypeFilter:'Outdoor'" class="card2" [item]="item"></app-content-card>
</div>

<h2>Items with type 'Computer':</h2>
<div class="card-container3">
  <app-content-card *ngFor="let item of contentArray | contentTypeFilter:'Computer'" class="card3" [item]="item"></app-content-card>
</div>
 