<app-create-content (contentAdded)="onContentAdded($event)"> </app-create-content>
<div>
  <label>Input feild</label>
  <input type="text" [(ngModel)]="inputValue">
  <button (click)="search(inputValue)">Search</button>
  <h3 *ngIf="typePresent" style="color: green;"> Title is present in the list.</h3>
  <h3 *ngIf="!typePresent && typePresent!=undefined" style="color: red;"> Title is not present in the list.</h3>
</div>
<h2>Items with no type :</h2> 
<div class="card-container1">
  <!-- <h2>Items with no type :</h2> -->
<div *ngFor="let item of contentArray | contentTypeFilter" class="card1">
<!-- Display no type item details here -->
<p class="title1">{{ item.title }}</p>
<p>{{ item.description }}</p>
<p>Creator: {{ item.creator }}</p>
<p HoverAffect [hoverStyle]="{ 'fontWeight': 'bold' }">Tags :{{ item.tags }}</p>
<img *ngIf="item.imgURL; else defaultImage" [src]="item.imgURL" alt="{{ item.title }} Image" />
    <ng-template #defaultImage>
      <img [src]="defaultImageUrl" alt="Default Image" />
    </ng-template> </div>
</div>
<h2>Items with type 'Outdoor':</h2>
<div class="card-container2">
<div *ngFor="let item of contentArray | contentTypeFilter:'outdoor'" class="card2">
    <!-- Display item details here -->
    <p class="title2">{{ item.title }}</p>
    <p>{{ item.description }}</p>
    <p>Creator: {{ item.creator }}</p>
    <p HoverAffect [hoverStyle]="{ 'fontWeight': 'bold'}">Tags :{{ item.tags }}</p>
    <p HoverAffect [hoverStyle]="{ 'textDecoration': 'underline' }">Type: {{ item.type }}</p>    <img *ngIf="item.imgURL; else defaultImage" [src]="item.imgURL" alt="{{ item.title }} Image" />
    <ng-template #defaultImage>
      <img [src]="defaultImageUrl" alt="Default Image" />
    </ng-template> </div>
</div>
<h2>Items with type 'Computer':</h2>
<div class="card-container3">
 
  <div *ngFor="let item of contentArray | contentTypeFilter:'Computer'" class="card3">
    <!-- Display item details here -->
    <p class="title3">{{ item.title }}</p>
    <p>{{ item.description }}</p>
    <p>Creator: {{ item.creator }}</p>
    <p HoverAffect [hoverStyle]="{ 'fontWeight': 'bold' }">Tags :{{ item.tags }}</p>
    <p HoverAffect [hoverStyle]="{ 'textDecoration': 'underline' }">Type: {{ item.type }}</p>    <img *ngIf="item.imgURL; else defaultImage" [src]="item.imgURL" alt="{{ item.title }} Image" />
    <ng-template #defaultImage>
      <img [src]="defaultImageUrl" alt="Default Image" />
    </ng-template> </div>
</div>